#container{
	width: 900px;
	margin:auto;
	padding:0 30px;
	/* padding-top:0px;
	   padding-right: 30px;
	   padding-bottom: 0px;
       padding-left: 30px
	*/
}

body{
	height:100%;
	background:#FFECC8;
	font-size: 15 px; 
	font-family:"century gothic"; 
	font-color:#6E6256;
}

div{
	display:block;
}
span{
	font-size:18px;
}
#right_column{
	align:right;
}
#header{
	background-color: 
}
