#container{
	width: 900px;
	margin:auto;
	padding:0 30px;
	/* padding-top:0px;
	   padding-right: 30px;
	   padding-bottom: 0px;
       padding-left: 30px
	*/
}

body{
	height:100%;
	background:#FFECC8;
	font-size: 15 px; 
	font-family:"century gothic"; 
	font-color:#6E6256;
}

div{
	display:block;
}
span{
	font-size:18px;
}
#left_column{
	width: 160px;
	position: relative;
	float: left;
	z-index:100;
	padding: 12px 14px 12px 12px;
	background:#FFCC99;
}

#header{
	background-color:
	font-size:48; 
}
