#container{
	width: 900px;
	margin:auto;
	padding:0 30px;
	/* padding-top:0px;
	   padding-right: 30px;
	   padding-bottom: 0px;
       padding-left: 30px
	*/
}

body{
	height:100%;
	background:#FEF0DB;
	font-size: 15 px; 
	font-family:"century gothic"; 
	font-color:#6E6256;
}

div{
	display:block;
}
span{
	font-size:18px;
}
#left_column{
	height: 200px;
	width: 200px;
	position: relative;
	float: left;
	padding: 12px 14px 12px 12px;
	background: #FA8072;
}
#right_column{
	position: relative;
	background: #FF8000;
	


}
#header{
	background: #99CC32;
	font-size: 48; 
}
