#container{
	width: 800px;
	margin:auto;
	padding:0px 30px;
	/* padding-top:0px;
	   padding-right: 30px;
	   padding-bottom: 0px;
       padding-left: 30px
	*/
}

body{
	height:100%;
	background:#FEF0DB;
	
	font: 15px "century gothic" #6E6256;
}

div{
	display:block;
}
span{
	font-size:18px;
}
#left_column{
	height: 300px;
	width: 150px;
	position: relative;
	float: left;
	padding: 10px 10px 10px 10px;
	background: #FA8072;
}
#right_column{
	padding: 10px 16px;
}
p{
	text-align: center;
} 
header{
	background: #99CC32;
	font-size: 48px; 
	text-align: left;
}
