header{
	background: #2EB8E6;
	font-size: 48px; 
	text-align: center;
}
#container{
	width: 900px;
	margin:auto;
	padding:0 30px;
	/* padding-top:0px;
	   padding-right: 30px;
	   padding-bottom: 0px;
       padding-left: 30px
	*/
}
#content{
	background-color: #99CCFF;
	min-height: 425px; 
	padding: 20px;
}

body{
	height: 100%;
	background: #99CCFF;
	font-size: 15 px; 
	font-family: "century gothic"; 
	font-color: #5E5043;
}

div{
	display: block;
}

#left_column{
	height: 100px;
	width: 110px;
	position: relative;
	float: left;
	padding: 10px 10px 10px 10px;
	
}
#right_column{
	padding: 10px 16px;
	border:#66FFFF;
	position: center;
}
  table {
        
        color: black;
        border: 3px center;
        width: 700px;
        height: 650px;
        padding:15px;
        background:#EAF4FF;
        text-align: center;
		font: 15px "century gothic" #000099;
		margin-left:auto; 
    	margin-right:auto;
       
      }
