header{
	background: white;
	font-size: 48px; 
	text-align: left;
}



body{
	height: 100%;
	background: #C0C0C0;
	font-size: 15 px; 
	font-family: "century gothic"; 
	font-color: #5E5043;
}

div{
	display: block;
}
 

ul{
	width: 160px;
	position: relative;
	float: left;
	z-index:100;
	padding: 12px 14px 12px 12px;
	background:White;
}
table{
	margin-right: auto;
	margin-left:auto;
	text-align: center;
	font: 15px "century gothic" #6E6256;
	background-color: #C0C0C0;
}
